<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader()}"></div>
    <div class="d-flex flex-column mb-3" style="height:100%; overflow-y: scroll;">
        <h4 class="mb-3">약관 동의</h4>
        <div class="card" style="width: 100%; height:200px; overflow-y: scroll;">
            <div class="card-body">
                <h5 class="card-title">약관 1</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="N" id="check1">
            <span style="color: #0d6efd">[필수]</span>
            <label class="form-check-label" for="check1">
                약관에 동의합니다.
            </label>
        </div>
        <div class="card" style="width: 100%; height:200px; overflow-y: scroll;">
            <div class="card-body">
                <h5 class="card-title">약관 2</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="N" id="check2">
            <span style="color: #0d6efd">[필수]</span>
            <label class="form-check-label" for="check2">
                약관에 동의합니다.
            </label>
        </div>
        <br>
    </div>
    <div class="d-flex justify-content-end">
    <button id="submit" class="btn btn-primary" type="submit">다음</button>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
<script type="text/javascript">
    $('#submit').on('click', function () {
        if($('#check1').val()=='N' || $('#check2').val()=='N') {
            alert("약관에 모두 동의해 주세요.");
            return false;
        }
        location.href='/members/new';
    });
    $('#check1').on('click', function () {
        if($('#check1').val()=='N') $('#check1').attr("value", "Y");
        else $('#check1').attr("value", "N");
    })
    $('#check2').on('click', function () {
        if($('#check2').val()=='N') $('#check2').attr("value", "Y");
        else $('#check2').attr("value", "N");
    })
</script>
</html>