<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span class="text-start" th:text="${message}">수정 완료</span>
        <button type="button" class="btn-close messageBtn" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="notice" class="alert alert-info alert-dismissible fade show mt-3" role="alert" style="display: none">
        <span id="message" class="text-start">수정 완료</span>
        <button id="messageBtn" type="button" class="btn-close messageBtn" data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    <form id="registerForm" role="form" action="/members/register" th:object="${registerForm}" method="post">
        <div class="form-group">
            <div class="input-group">
                <label class="input-group-text w-25" th:for="userId">아이디</label>
                <input id="userId" th:field="*{userId}" type="text" class="form-control" placeholder="아이디를 입력하세요."
                       aria-label="아이디를 입력하세요" aria-describedby="id check"
                       th:class="${#fields.hasErrors('userId')}? 'form-control fieldError' : 'form-control'"
                       th:value="${session.registerForm.userId}">
                <button class="btn btn-outline-primary" type="button" onclick="userIdChk()" value="Y">아이디 중복 확인
                </button>
            </div>
            <small class="text-danger" style="margin: 0" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Incorrect
                date</small>
            <input id="userIdCheck" th:field="*{userIdCheck}" type="checkbox" th:value="${session.registerForm.userIdCheck}" style="display: none">
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="input-group-text w-25" th:for="nickname">닉네임</label>
                <input id="nickname" th:field="*{nickname}" type="text" class="form-control" placeholder="닉네임을 입력하세요."
                       aria-label="닉네임을 입력하세요" aria-describedby="nickname check"
                       th:class="${#fields.hasErrors('nickname')}? 'form-control fieldError' : 'form-control'"
                       th:value="${session.registerForm.userId}">
                <button class="btn btn-outline-primary" type="button" onclick="nicknameChk();" value="Y">닉네임 중복 확인
                </button>
            </div>
            <small class="text-danger" style="margin: 0" id="userIdError" th:if="${#fields.hasErrors('nickname')}"
                   th:errors="*{nickname}">
                Incorrect date</small>
            <input id="nicknameCheck" th:field="*{nicknameCheck}" type="checkbox" th:value="${session.registerForm.nicknameCheck}" style="display: none">
        </div>
        <div class="form-group mb-1">
            <div class="input-group">
                <label class="input-group-text w-25" th:for="email">이메일</label>
                <input id="email" type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요."
                       aria-label="이메일을 입력하세요" aria-describedby="email check"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'"
                       th:value="${session.registerForm.userId}">
                <button class="btn btn-outline-primary" type="button" onclick="emailChk();" value="Y">이메일 중복 확인
                </button>
            </div>
            <small class="text-danger" style="margin: 0" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect
                date</small>
            <input id="emailCheck" th:field="*{emailCheck}" type="checkbox" th:value="${session.registerForm.emailCheck}" style="display: none">
        </div>
        <div class="form-group last mb-4 check_input">
            <div class="input-group">
                <label class="input-group-text w-25" for="emailNumber" id="emailNumberTxt">인증번호</label>
                <input type="text" class="form-control" id="emailNumber" th:field="*{emailNumber}" placeholder="인증번호를 입력하세요.">
                <span class="input-group-text" id="time"></span>
                <button id="numberCheck" class="btn btn-outline-primary" type="button" onclick="emailNumberChk();">인증번호 확인</button>
                <button id="numberSend" class="btn btn-outline-primary" type="button"
                        onclick="checkEmail('이메일 중복 확인을 해주세요.');" value="N">인증번호 발급
                </button>
            </div>
            <small class="text-danger" style="margin: 0" th:if="${#fields.hasErrors('emailNumber')}" th:errors="*{emailNumber}">Incorrect
                date</small>
            <input id="timeCount" th:field="*{timeCount}" type="number" th:value="${session.registerForm.timeCount}" style="display: none">
            <input id="emailNumberSend" th:field="*{emailNumberSend}" type="checkbox" th:value="${session.registerForm.emailNumberSend}" style="display: none">
            <input id="emailNumberCheck" th:field="*{emailNumberCheck}" type="checkbox" th:value="${session.registerForm.emailNumberCheck}" style="display: none">
        </div>
        <div class="form-group input-group">
            <label class="input-group-text w-25" th:for="password">비밀번호</label>
            <input id="password" type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요."
                   aria-label="비밀번호를 입력하세요" aria-describedby="password"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
        </div>
        <small class="text-danger" style="margin: 0" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
            date</small>
        <div class="form-group input-group">
            <label id="passwordConfirmTxt" class="input-group-text w-25" th:for="passwordConfirm">비밀번호 확인</label>
            <input id="passwordConfirm" th:field="*{passwordConfirm}" type="password" class="form-control" placeholder="비밀번호를 다시 입력하세요."
                   aria-label="비밀번호를 다시 입력하세요" aria-describedby="password check"
                   th:class="${#fields.hasErrors('passwordConfirm')}? 'form-control fieldError' : 'form-control'">
        </div>
        <small class="text-danger mb-5" style="margin: 0" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Incorrect
            date</small>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" id="registerSubmit">회원 가입</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/registerForm.js"></script>
<script type="text/javascript" src="/js/messages.js"></script>
</html>