<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        var messageElement = document.querySelector('.alert');
        if (messageElement) {
            setTimeout(function () {
                messageElement.style.display = 'none';
            }, 5000); // 5000 milliseconds (5 seconds)
        }
    });
    /*]]>*/
</script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">휴면 복구 완료</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="jumbotron">
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/agree">회원 가입</a>

            <button class="btn btn-lg btn-secondary"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/members/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->
</body>
</html>