<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html" style="height: 100%">
<head th:replace="~{fragments/header :: header}">
    <title>find path service2</title>
    <link rel="stylesheet" href="/css/map.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="padding: 0; height: 100%">
<div style="height: 10%;" th:replace="~{fragments/bodyHeader :: bodyHeader(${session.loginMember})}"></div>
<button class="btn btn-primary position-absolute z-3 m-3 end-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span class="fs-4">menu</span></button>
<main class="container-fluid row p-0 m-0 position-relative" style="height: 85%;">
    <div th:replace="~{fragments/bodyAlert :: bodyAlert(${message})}"></div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasTopLabel">menu</h2>
            <button type="button" class="offcanvas-header btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>

        <div class="h-100 offcanvas-body">
            <div class="row">
                <section id="curUserlistSection" class="col-6 mt-3 mb-5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            현재 유저
                        </button>
                        <div id="userlist" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                </section>

                <section id="inviteUserlistSection" class="col-6 mt-3 mb-5" style="display: none;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            초대 유저
                        </button>
                        <div id="invitelist" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                </section>
            </div>

            <section onselectstart='return false' id="roomRemainingTimeSection" class="mt-3 mb-5">
                <h5><b id="roomRemainingTime">방 사용 만료 시각</b></h5>
                <h5><b id="remainingTimeV1"></b></h5>
                <h5><b id="remainingTimeV2" style="display: none"></b></h5>
            </section>

            <section id="curMemberNumberSection" class="mt-3 mb-5">
                <h5><b id="curMemberNumber"></b></h5>
            </section>

            <section id="inputLatitudeLongitude" class="mt-3 mb-5">
                <div class="form-group">
                    <h5><b>위도, 경도 입력</b></h5>
                    <div class="input-group mb-1">
                        <input type="text" id="msg" class="form-control">
                        <button class="btn btn-outline-primary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </section>

            <section id="inviteMemberSection" class="mt-3 mb-5" style="display: none;">
                <div class="form-group">
                    <h5><b>친구 초대</b></h5>
                    <div class="position-relative">
                        <div class="input-group">
                            <label class="input-group-text w-25" for="nickname">닉네임</label>
                            <input id="nickname" type="text" class="form-control" placeholder="닉네임을 입력하세요."
                                   aria-label="닉네임을 입력하세요" aria-describedby="nickname check" autocomplete="off">
                            <button class="btn btn-outline-primary" type="button" onclick="inviteMember()">전송
                            </button>
                        </div>
                        <div id="searchList" class="list-group position-absolute w-100 p-0 z-1">
                        </div>
                    </div>
                    <small class="text-danger" style="margin: 0; display:none;" id="nicknameError"></small>
                </div>
            </section>

            <section id="createRoomSection" class="d-grid dropdown mt-3 mb-5">
                <button class="btn btn-outline-primary " type="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside">새 방 만들기
                </button>
                <div class="dropdown-menu p-2">
                    <form id="createRoom" class="row g-3" action="/service2/create-room" method="post">
                        <div class="input-group">
                            <label for="roomName" class="input-group-text w-25">방 이름</label>
                            <input type="text" class="form-control" id="roomName" name="roomName">
                        </div>
                        <div class="input-group">
                            <label for="transportation" class="input-group-text">이동 수단</label>
                            <select id="transportation" class="form-select">
                                <option selected value="SIDEWALK">도보</option>
                                <option value="ROAD">도로</option>
                            </select>
                        </div>
                        <small id="roomNameError" class="text-danger col-md-12 mt-0" style="display: none;">msg</small>
                        <div class="col-12">
                            <!--<button id="createRoomBtn" type="button" class="btn btn-outline-secondary" onclick="isMemberInCampusArea() createService2Room();">방 개설하기</button>-->
                            <button id="createRoomBtn" type="button" class="btn btn-outline-secondary"
                                    onclick="createService2Room();">방 개설하기
                            </button>
                        </div>
                    </form>
                </div>
            </section>

            <!--<section id="deleteRoomSection" class="d-grid mt-3 mb-5" style="display: none;">
                <button id="deleteRoomBtn" class="btn btn-outline-primary" type="button">방 삭제</button>
            </section>-->

            <section id="leaveRoomSection" class="d-grid mt-3 mb-5">
                <button id="leaveRoomBtn" class="btn btn-outline-primary" type="button">방 나가기</button>
            </section>
        </div>
    </div>
    <div class="d-inline-block" id="map"></div>
</main> <!-- /container -->
<div style="height: 5%;" th:replace="~{fragments/footer :: footer}"/>
</body>
<script id="apikey" type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36d7d56dffc065ea26aa515b442d5b6f"></script>
<script type="text/javascript" src="/js/apikey.js"></script>
<script type="text/javascript" src="/js/path.js"></script>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/memberLocation.js"></script>
<script type="text/javascript" src="/js/createService2Room.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36d7d56dffc065ea26aa515b442d5b6f&libraries=services,clusterer,drawing"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    const SENDED = 1, NOT_SENDED = 2, INVITED = "INVITED", NOT_INVITED = "NOT_INVITED",
        DUPLICATE_INVITE = "DUPLICATE_INVITE";

    let NotInCampusMessage = NOT_SENDED;

    let serverRoomDeletionTime;

    function getUserList(sender) {
        //현재 방에 있는 인원을 출력하는 함수(방장)
        var $userlist = $("#userlist"); //jquery id가 "userlist"인 object 가져오기
        const url = new URL(location.href).searchParams;
        const roomId = url.get('roomId');
        //console.log("sender 출력 : " + sender);
        $.ajax({
            type: "GET",
            url: "/service2/room/curUserlist",
            data: {
                "roomId": roomId
            },
            success: function (data) {
                var users = "";
                for (let i = 0; i < data.length; i++) {
                    var encodedNickname = encodeURIComponent(data[i]);
                    var sep = encodedNickname;
                    //조건에 따라 강제 퇴장 버튼을 출력
                    if (sender === encodedNickname) {
                        users += "<li class='dropdown-item'>" + data[i] + "</li>"
                    } else {
                        users += "<li><hr class='dropdown-divider'></li>"
                        users += "<li class='dropdown-item'>" + data[i] + "&nbsp;&nbsp;&nbsp;<button onclick='deleteCurMember(\"" + encodedNickname + "\")' class='btn btn-primary btn-sm'>퇴장</button>"
                            + "&nbsp;&nbsp;&nbsp;<button id='" + encodedNickname + "' class='btn btn-primary btn-sm'>임명</button>"
                            + "</li>"
                    }
                }
                $userlist.html(users); //jquery html id="userlist"의 내용을 수정
                // for (let i = 0; i < data.length; i++) {
                //     var EncodedNickname = encodeURIComponent(data[i]);
                //     $("#" + EncodedNickname).click(function () {
                //         changeOwner(EncodedNickname);
                //     });
                // }
            }
        })
    }

    function getUserListNormal() {
        //현재 방에 있는 인원을 출력하는 함수(일반유저)
        var $userlist = $("#userlist"); //jquery id가 "userlist"인 object 가져오기
        const url = new URL(location.href).searchParams;
        const roomId = url.get('roomId');
        //console.log("sender 출력 : " + sender);
        $.ajax({
            type: "GET",
            url: "/service2/room/curUserlist",
            data: {
                "roomId": roomId
            },
            success: function (data) {
                var users = "";
                for (let i = 0; i < data.length; i++) {
                    //조건에 따라 강제 퇴장 버튼을 출력
                    users += "<li class='dropdown-item'>" + data[i] + "</li>"
                    if (i !== data.length - 1) {
                        users += "<li><hr class='dropdown-divider'></li>"
                    }
                }
                $userlist.html(users); //jquery html id="userlist"의 내용을 수정
            }
        })
    }

    function getInviteList() {
        //현재 방에 초대된 인원을 출력하는 함수
        var $invitelist = $("#invitelist"); //jquery id가 "invitelist"인 object 가져오기
        const url = new URL(location.href).searchParams;
        const roomId = url.get('roomId');
        //console.log("getUserList()가 호출됨, roomId는 다음과 같음 : " + roomId);
        $.ajax({
            type: "GET",
            url: "/service2/room/inviteUserlist",
            data: {
                "roomId": roomId
            },
            success: function (data) {
                var users = "";
                for (let i = 0; i < data.length; i++) {
                    //console.log("data를 출력 data[i] : "+data[i]);
                    users += "<li class='dropdown-item'>" + data[i] + "</li>"
                }
                //console.log("users 출력 : " + users);
                $invitelist.html(users); //jquery html id="invitelist"의 내용을 수정
            }
        })
    }

    function deleteCurMember(nickname) {
        //현재 방에 초대된 인원을 강제 퇴장시키는 함수 (nickname을 parameter로 던지는 것은 보안 문제가 있을 수 있으므로 수정 필요)
        const url = new URL(location.href).searchParams;
        const roomId = url.get('roomId');
        //console.log("roomId 확인 : " + roomId + " nickname 확인 : " + nickname);
        $.ajax({
            type: "POST",
            url: "/service2/room/deleteMember",
            data: {
                "roomId": roomId,
                "nickname": nickname
            },
            success: function (response) {
                console.log("Member deleted successfully", response);
            },
            error: function (xhr, status, error) {
                console.error("Error deleting member", xhr, status, error);
            }
        })

    }

    function changeOwner(nickname) {
        //현재 방의 방장을 교체하는 함수
        console.log("방장 교체 함수 호출");
        const url = new URL(location.href).searchParams;
        const roomId = url.get('roomId');
        //console.log("roomId 확인 : " + roomId + " nickname 확인 : " + nickname);
        $.ajax({
            type: "POST",
            url: "/service2/room/changeOwner",
            data: {
                "roomId": roomId,
                "nickname": nickname
            },
            success: function (response) {
                console.log("Owner changed successfully", response);
            },
            error: function (xhr, status, error) {
                console.error("Error changing owner", xhr, status, error);
            }
        })
    }

    /**
     * 닉네임에 해당하는 회원을 초대하는데 사용되는 함수이다.
     */
    function inviteMember() {
        resetError();
        $("#searchList").hide();
        let roomId = [[${room.roomId}]];
        let inviteNickname = document.getElementById("nickname");
        $.ajax({
            type: "GET",
            url: "/service2/room/invite",
            data: {
                roomId: roomId,
                nickname: inviteNickname.value
            },
            success: function (response) {
                console.log(response);
                if (response.inviteType === NOT_INVITED || response.inviteType === DUPLICATE_INVITE) {
                    $("#nicknameError").text(response.message).show();
                    $("#nickname").attr('class', "form-control fieldError");
                    return;
                }
                bodyAlert(response.message);
                inviteNickname.value = '';
            },
            error: function (error) {
                console.log(error);
                $("#nicknameError").text(error.responseJSON[0].message).show();
                $("#nickname").attr('class', "form-control fieldError");
            }
        });
    }

    /**
     * nickname에 해당하는 인원이 방장이 되면 방장이 사용할 수 있는 기능들을 보여주는 함수이다.
     */
    function giveAuthority(nickname, currentManager) {
        if (nickname === currentManager) {
            $("#inviteMemberSection, #inviteUserlistSection").show();
            $("#createRoomSection").after(
                "<section id='deleteRoomSection' class='d-grid mt-3 mb-5'>" +
                "   <button id='deleteRoomBtn' class='btn btn-outline-primary' type='button'>방 삭제</button>" +
                "</section>"
            );
        } else {
            console.log(nickname, currentManager);
            $("#inviteMemberSection, #inviteUserlistSection").hide();
            $("#deleteRoomSection").remove();
        }
    }

    /**
     * 방을 나가야 하는 경우 실행되는 함수이다.
     */
    function leaveRoom(roomName, message) {
        let form = document.createElement("form");
        form.name = "expiredRoom";
        form.action = "/service2/room/leave";
        form.method = "get";
        form.style.display = 'none';

        let input1 = document.createElement("input");
        input1.value = roomName;
        input1.name = "roomName"
        form.appendChild(input1);

        let input2 = document.createElement("input");
        input2.value = message;
        input2.name = "reason";
        form.appendChild(input2);

        document.body.appendChild(form);
        form.submit();
    }

    /**
     * 방 사용 잔여 시간을 계산하는 함수이다.
     */
    function getRoomRemainingTimeV2() {
        if (serverRoomDeletionTime !== undefined) {
            //console.log("현재 시간: "+(new Date()).toString()+"방 삭제 시간: "+serverRoomDeletionTime.toString());
            let remainingTime = serverRoomDeletionTime - new Date();
            //console.log(remainingTime);
            let h = Math.floor(remainingTime / 1000 / 60 / 60).toString().padStart(2, "0");
            remainingTime %= 1000 * 60 * 60;
            let m = Math.floor(remainingTime / 1000 / 60).toString().padStart(2, "0");
            remainingTime %= m * 1000 * 60;
            let s = Math.floor(remainingTime / 1000).toString().padStart(2, "0");
            let timeStr = h + "시간 " + m + "분 " + s + "초";
            $("#remainingTimeV2").text(timeStr);
        }
    }

    /**
     * 방 사용 삭제 시각을 표기하는 함수이다.
     */
    function setRoomRemainingTimeV1(time) {
        let y = time.getFullYear().toString().padStart(4, "0");
        let month = (time.getMonth() + 1).toString().padStart(2, "0");
        let d = time.getDate().toString().padStart(2, "0");
        let h = time.getHours().toString().padStart(2, "0");
        let m = time.getMinutes().toString().padStart(2, "0");
        let s = time.getSeconds().toString().padStart(2, "0");
        $("#remainingTimeV1").text(y + "년 " + month + "월 " + d + "일 " + h + "시 " + m + "분 " + s + "초");
    }

    /**
     * roomRemainingTimeSection 클릭 시 방 만료 시간의 타입을 변경해 표기하는 역할을 한다.
     */
    function changeRoomRemainingTimeType() {
        $("#roomRemainingTimeSection").click(function () {
            if ($("#remainingTimeV2").css("display") === "none") {
                $("#remainingTimeV1").hide();
                $("#remainingTimeV2").show();
                $("#roomRemainingTime").text("방 사용 잔여 시간");
            } else {
                $("#remainingTimeV2").hide();
                $("#remainingTimeV1").show();
                $("#roomRemainingTime").text("방 사용 만료 시각");
            }
        })
    }

    /**
     * 웹 페이지의 클릭 위치에 따라 nickname 입력 창 밑의 nickname search list의 표시 여부를 변경하는 함수이다.
     */
    function changeSearchListDisplayType() {
        // inviteMemberSection이 아닌 다른 곳을 클릭하면 닉네임 자동 완성을 숨기는 기능을 한다.
        $(document).click(function () {
            let nickname = $("#nickname");
            if (!nickname.is(event.target) && !nickname.has(event.target).length && !$("#nickname").is(":focus")) {
                $("#searchList").hide();
            }
        });

        // nickname에 해당하는 인풋 태그가 포커스되면 닉네임 자동 완성을 표시하는 기능을 한다.
        $("#nickname").on("focus", function () {
            $("#searchList").show();
        })
    }

    /**
     * nickname에 해당하는 인풋 태그의 value가 달라지면 서버로부터 닉네임 자동 완성 리스트를 요청하고 닉네임 자동 완성 목록을 생성하는 함수이다.
     */
    function searchWord() {
        let previousNicknameInput = "";

        $("#nickname").on("keyup", function (e) {
            if (previousNicknameInput === $('#nickname').val()) return;
            previousNicknameInput = $('#nickname').val();
            //if(e.keyCode === 65 && e.ctrlKey) return;
            if ($("#nickname").val() === "") {
                $("#searchList").children().remove();
                return;
            }
            $("#nicknameError").hide();
            $("#nickname").attr('class', "form-control");
            $.ajax({
                type: "GET",
                url: "/searchNickname",
                data: {
                    searchWord: $("#nickname").val()
                },
                success: function (response) {
                    //console.log(response);
                    let nicknameList = response.nicknameList;
                    $("#searchList").children().remove();
                    nicknameList.forEach(nickname => {
                        if (nicknameList.length !== 1 || nickname !== $("#nickname").val()) $("#searchList").append(
                            "<button type='button' class='list-group-item list-group-item-action' onclick='$(\"#nickname\").val(\"" + nickname + "\"); $(\"#searchList\").children().remove();'>" +
                            nickname +
                            "</button>"
                        )
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    }

    $(document).ready(function () {

        let roomName = [[${room.roomName}]];
        let roomId = [[${room.roomId}]];
        let nickname = [[${session.loginMember}]].nickname;

        giveAuthority(nickname, [[${room.ownerName}]]);

        //console.log(roomName + ", " + roomId + ", " + nickname);

        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {
                let latitude = position.coords.latitude; // 위도
                let longitude = position.coords.longitude; // 경도

                if (NotInCampusMessage === NOT_SENDED && !_isMemberInCampusArea(latitude, longitude)) {
                    NotInCampusMessage = SENDED;
                    let txt = nickname + "님은 현재 영남대학교 캠퍼스 외부에 있습니다. 따라서 경로가 올바르지 않을 수 있습니다.";
                    bodyAlert(txt);
                }

                setInterval(getRoomRemainingTimeV2, 100); // getRoomRemainingTimeV2를 0.1초마다 실행해 방의 잔여 시간을 업데이트한다.

                let sockJs = new SockJS("/connection");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                let stomp = Stomp.over(sockJs); //sockJs.onClose();
                //2. connection이 맺어지면 실행
                stomp.connect({sender: nickname, roomId: roomId}, function () { // { id:nickname, roomId:roomId }는 connect 헤더에 포함되는 정보이다. SendInformationController 의 handleWebSocketConnectListener 함수에서 사용된다.
                    //console.log("STOMP Connection");
                    if ([[${room.ownerName}]] !== nickname) {
                        $('#inviteUserlistSection').hide();
                    }
                    let owner = [[${room.ownerName}]];
                    //3. subscribe(path, callback)으로 메세지를 받을 수 있음
                    stomp.subscribe("/sub/service2/room/" + roomId, function (chat) {
                        let content = JSON.parse(chat.body);
                        //console.log(content);
                        let sender = content.sender;
                        let manager = content.manager;
                        let messageType = content.msgType;
                        let message = content.message;
                        let curMemberNum = content.curMemberNum;
                        let roomRemainingTime = content.roomRemainingTime;
                        let route = content.route;
                        let roomId = content.roomId;
                        //console.log("message: " + message);

                        console.log("owner 출력 : " + owner);
                        if (owner === nickname) {
                            console.log("방장 userlist");
                            getUserList(owner); //userlist 업데이트(방장)
                        } else {
                            console.log("일반유저 userlist")
                            getUserListNormal(); //userlist 업데이트(일반유저)
                        }
                        getInviteList(); //invitelist 업데이트

                        // $('.changeOwner').click(function () {
                        //     console.log("버튼이 눌렸습니다");
                        // })
                        if (manager != null) {
                            owner = manager;
                            giveAuthority(nickname, manager);
                        }
                        /*console.log(new Date());
                        console.log(new Date(roomRemainingTime));*/
                        switch (messageType) {
                            case "ENTER":
                                $("#curMemberNumber").text("현재 인원 수: " + curMemberNum + "명");
                                serverRoomDeletionTime = new Date(roomRemainingTime);
                                setRoomRemainingTimeV1(serverRoomDeletionTime);
                            case "NOT_IN_CAMPUS":
                                bodyAlert(message);
                                break;
                            case "LEAVE":
                                if (sender === nickname) {
                                    leaveRoom(roomName, message);
                                }
                                bodyAlert(message);
                                $("#curMemberNumber").text("현재 인원 수: " + curMemberNum + "명");
                                serverRoomDeletionTime = new Date(roomRemainingTime);
                                setRoomRemainingTimeV1(serverRoomDeletionTime);
                                break;
                            case "ROOM_EXPIRED": // 방의 시간이 만료된 경우 /service2/room/leave 으로 리다이렉트한다.
                                leaveRoom(roomName, message);
                                break;
                            case "ROUTE":
                                setMapRoute(route);
                        }
                    });

                    //4. send(path, header, message)로 메세지를 보낼 수 있음
                    //stomp.send('/pub/room/enter', {}, JSON.stringify({roomId: roomId, sender: nickname}));

                    let delay = 2000;

                    let timerId = setTimeout(function getRoute() {
                        let lat = 35.8330177, lng = 128.7532086;

                        if (navigator.geolocation) {
                            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                            navigator.geolocation.getCurrentPosition(function (position) {
                                lat = position.coords.latitude; // 위도
                                lng = position.coords.longitude; // 경도
                                //console.log(lat, lng);
                                if (NotInCampusMessage === NOT_SENDED) {
                                    if (!_isMemberInCampusArea(lat, lng)) {
                                        NotInCampusMessage = SENDED
                                        let txt = nickname + "님은 현재 영남대학교 캠퍼스 외부에 있습니다. 따라서 경로가 올바르지 않을 수 있습니다.";
                                        stomp.send('/pub/room/out-campus', {}, JSON.stringify({
                                            roomId: roomId,
                                            sender: nickname,
                                            message: txt
                                        }));
                                    } else {
                                        NotInCampusMessage = NOT_SENDED;
                                    }
                                }
                                let msg = JSON.stringify({latitude: lat, longitude: lng});
                                stomp.send('/pub/room/route', {}, JSON.stringify({
                                    roomId: roomId,
                                    sender: nickname,
                                    message: msg
                                }));
                                timerId = setTimeout(getRoute, delay);
                            }, (e) => {
                                let txt = "위치 정보 제공 동의를 하지 않으면 서비스 2를 이용하실 수 없습니다.";
                                leaveRoom(roomName, txt);
                            });
                        } else {
                            let txt = "현재 웹 브라우저가 위치 제공을 지원하지 않아 서비스 2를 이용하실 수 없습니다.";
                            leaveRoom(roomName, txt);
                        }
                        //console.log(lat, lng);
                    }, delay);

                });

                $("#button-send").on("click", function (e) {
                    let msg = document.getElementById("msg");

                    console.log(nickname + ":" + msg.value);
                    stomp.send('/pub/room/message', {}, JSON.stringify({
                        roomId: roomId,
                        sender: nickname,
                        message: msg.value
                    }));
                    msg.value = '';
                });

                $("#leaveRoomBtn").on("click", function (e) {
                    stomp.disconnect(function () {
                        location.href = "/";
                    });
                });

                $("#deleteRoomBtn").on("click", function (e) {
                    console.log("delete room");
                    stomp.send('/pub/room/delete', {}, JSON.stringify({
                        roomId: roomId,
                        sender: nickname,
                        message: null
                    }));
                });

            }, (e) => {
                let txt = "위치 정보 제공 동의를 하지 않으면 서비스 2를 이용하실 수 없습니다.";
                leaveRoom(roomName, txt);
            });
        } else {
            let txt = "현재 웹 브라우저가 위치 제공을 지원하지 않습니다. 따라서 서비스 2를 이용하실 수 없습니다.";
            leaveRoom(roomName, txt);
        }

        changeSearchListDisplayType();
        changeRoomRemainingTimeType();
        searchWord();
    });
</script>
</html>